# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# Env
.env
.env.*

# Editor
.vscode/
.idea/
.cursor/
*.sublime-workspace
*.sublime-project

# Build/Cache
dist/
build/
coverage/
.tmp/
temp/

# OS files
.DS_Store
Thumbs.db

# DB
*.sql
*.sqlite
*.db

# Uploads
uploads/
public/uploads/

txt/*